@model MVCtest.Models.Student

@{
    ViewData["Title"] = "Details";
}
<style>
    
    .style dl {
        width: 50%; 
        font-size: 18px;
    }
    .row dt {
        font-weight: bold; 
        margin-bottom: 10px; 

    }

    .row dd {
        margin-bottom: 10px; 
    }

    .row .col-sm-2 {
        background-color: #f2f2f2;
    }

    .row .col-sm-10 {
        padding-left: 10px; 
        font-weight: bold;
        background-color: #f2f2f2;
    }

</style>

<h1>Student Details</h1>

<div class="style">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name )

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>